/* HELPERS */
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.no-padding { padding: 0; }
.no-margin-left { margin-left: 0; }
.no-margin-right { margin-right: 0; }
.no-margin { margin: 0; }

/* GLOBAL */
html,body {
	background-color: #E0E2E4;
}

h1 {
	font-family: "Helvetica LT Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

/* LANDING PAGE */
body.landing-page #main.container {
	width: 100%;
	padding: 0;
}

.landing-image-wrap {
	width: 100%;
	background: url("../images/home_bg.jpg") no-repeat fixed;
	background-size: cover;
}

	.landing-image-wrap .overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #303C49;
		opacity: 0.55;
		z-index: 1;
	}

	.landing-image-wrap .splash-text {
		color: #E0E2E4;
		z-index: 2;
		display: none;
	}

		.landing-image-wrap .splash-text h1 {
			font-size: 44px;
			line-height: 44px;
		}

		.landing-image-wrap .splash-text p {
			font-size: 16px;
			line-height: 22px;
		}

/* NAVIGATION MENUS */
.fixed-nav{
	position: fixed;
	width: 100%;
	z-index: 10;
}
	
	.fixed-nav .left-menu-btn {
		cursor: pointer;
	}

	.fixed-nav .left-menu {
		height: 100%;
		width: 105px;
		left: -105px;
		top: 0;
		position: fixed;
	}	

		.fixed-nav .left-menu .left-menu-btn{
			padding-top: 70px;
			padding-bottom: 40px;
			width: 100%;
			text-align: center;
			color: #E0E2E4;
			font-family: "Helvetica LT Condensed", Helvetica, Arial, sans-serif;
			color: rgba(248,191,209,1);
			background-color: #E40045;
		}

			.fixed-nav .left-menu .left-menu-btn:hover {
				color: #E0E2E4;
				background-color: #E40045;
			}

		.fixed-nav .left-menu .red-bg {
			background-color: #E40045;
			height: 50%;
		}

		.fixed-nav .left-menu .brand-list {
			width: 100%;
			list-style: none;
			padding: 0;
			margin-bottom: 0;
		}

			.fixed-nav .left-menu .brand-list li {
				padding: 20px 8px;
				border-top: 1px solid #E0E2E4;
				text-align: center;
				background-color: #E40045;
				cursor: pointer;
			}
			.fixed-nav .left-menu .brand-list li:last-child {
				border-bottom: 1px solid #E0E2E4;
			}

			.fixed-nav .left-menu .brand-list li:hover {
				background-color: transparent;
			}

				.fixed-nav .left-menu .brand-list li img {
					width: 42px;
				}

				.fixed-nav .left-menu .brand-list li p {
					font-size: 15px;
					line-height: 20px;
					font-family: "Helvetica LT Condensed", Helvetica, Arial, sans-serif;
					margin: 10px auto 0;
					color: #E0E2E4;
					max-width: 80%;
				}

	.fixed-nav .top-menu {
		width: 100%;
		height:  140px;
		background-color: rgba(48,60,73,0);
	}	

		.fixed-nav .top-menu .left-menu-btn {
			padding: 0 1px 3px 0;
			width: 33px;
			border-radius: 4px;
			font-size: 16px;
			border: 1px solid #E0E2E4;
			color: #E0E2E4;
			position: absolute;
			top: 70px;
			left: 3.5%;
			text-align: center;
		}

		.fixed-nav .top-menu .logo-wrap{
			margin-left: 8.33333%;
			margin-top: 36px;
		}

		.fixed-nav .top-menu .brand-logo {
			width: 110px;
			display: inline-block;
			vertical-align: bottom;
		}

		.fixed-nav .top-menu .enterprise-name {
			font-size: 22px;
			line-height: 20px;
			color: white;
			display: inline-block;
			vertical-align: bottom;
			color: #E0E2E4;
			margin: 0 0 0 18px;
		}		

		.fixed-nav .top-menu .main-menu {
			list-style: none;
			margin-right: 8.33333%;
			margin-top: 72px;
		}

			.fixed-nav .top-menu .main-menu li {
				display: inline-block;
				margin-right: 30px;
				font-family: "Helvetica LT Condensed", Helvetica, Arial, sans-serif;
			}
			.fixed-nav .top-menu .main-menu li:last-child {
				margin-right: 0;
			}


				.fixed-nav .top-menu .main-menu li a {
					color: #E0E2E4;
					text-decoration: none;
				}

				.fixed-nav .top-menu .main-menu li.active > a {
					color: #A2A7AD;
				}

					.fixed-nav .top-menu .main-menu li:not(.active) a:hover {
						color: #E40045;
					}

